# Python
__pycache__/
*.py[cod]
*$py.class
env/

# macOS
.DS_Store

# Chrome driver
chromedriver
node_modules/

# Next.js
.next/
out/

# Vector database
chroma_db/

# Environment variables
.env*
!.env.example

LPC-Assessor-Data-Files/

localstack_data/